{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport", content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/modaal@0.4.4/dist/js/modaal.min.js"></script>
    <script src="{% static "javascript/app.js" %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- title goes here -->
    {% block title %}

    {% endblock %}

    <!-- style goes here -->

    {% block styles %}

    {% endblock %}

    <!-- scripts goes here -->
    
    {% block scripts %}

    {% endblock %}
</head>
    <body>
        <!-- content goes here -->
        {% block  content %}

        {%  endblock%}
    </body>
</html>