form {
  img{
    display: block;
    margin: 0 auto;
  }

  button{
    display: block !important;
    margin: 0 auto;
    font-size: 18px;
    width: 240px;


  }

  p{
    text-align: center;
  }
}